.color-black{
    color: #000000;
}
.color-white{
    color: #ffffff;
}
.color-fa{
 color: #fafafa;
}
.bitmanity-red{
    color: #e62117;
}
.color-grey{
    color: #a0a0a0;
}
.bitmanity-border-bottom{
    border-bottom: 1px solid #ebebeb;
}
.title-text{
    font-weight: bold !important;
    color: #000000 !important;
    font-size: medium !important;
    line-height: 16px !important;

}
.subtitle-text{
    font-weight: normal !important;
    color: #818A91!important;
    font-size: small !important;
    line-height: 20px !important;
}
.no-border{
    border: none !important;
}
.no-box-shadow{
    box-shadow: none;
}
.card-padding{
    padding: 10px 10px 10px 0px;
}
.card-content-creator{
    font-weight: normal !important;
    color: #818A91;
    font-size: small !important;
    line-height: 18px !important;
}
.card-content-creator-b{
    font-weight: bold !important;
    color: #000;
    font-size: medium !important;
    line-height: 40px;

}
span.card-content-creator:hover{
    color: #000;
}
.height-try{
 min-height: 10px ;
}
.card-header-padding{
 padding: 10px 24px 10px 10px;
}
.card-blog-img-padding{
    padding: 10px 10px 10px 10px;
    max-height: 180px;
    overflow: hidden;
}
.card-blog-padding{
    padding: 10px 10px 10px 10px;
}
.likes-Views{
    font-size: medium;
    color: #818A91;

}